.login-page {
    background: url(../img/acp_bg.jpg);
}

.login-box-body, .register-box-body {
    background: RGBA(255, 255, 255, 0.7);
}

.btn-form {
    margin-top: 25px;
}

.content-wrapper {
    overflow: hidden;
}

.sidebar-footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 230px;
    padding: 15px 5px;
    text-align: center;
    background: #1a2226;
    color: #95a3a9;
}

.sidebar-collapse .sidebar-footer {
    display: none;
}